<section class="policy">
  <div class="container">
    <div class="policy-title">
      Условия пользовательского соглашения и Согласие на обработку персональных данных</div>
    <div class="policy-text" id="agreement">
      Пользовательское соглашение на сайте (или в приложении) регулирует правовые взаимоотношения между владельцем
      веб-ресурса, пользователями и третьими лицами. Оно очерчивает круг ответственности для поставщика товаров и услуг,
      а потому является юридическим документом. Содержание пользовательского соглашения должно соответствовать
      действующим нормам материального права.
      <br>
      <br>
      Посещая наши Веб-сайты и/или используя наши Продукты, вы соглашаетесь с условиями данной Политики
      конфиденциальности. Если вы не согласны с условиями данной Политики конфиденциальности, пожалуйста, не посещайте
      и/или не используйте наши Веб-сайты и Продукты.
    </div>
    <div class="policy-title-second">Какую информацию мы собираем о вас</div>
    <div class="policy-text">
      Личная информация – это информация, которая идентифицирует физическое лицо или относится к идентифицируемому
      физическому лицу. Мы собираем личную и другие виды информации:
      <ol class="policy-text-item">
        <li>a) когда вы предоставляете ее нам,</li>
        <li>б) когда вы посещаете наши Веб-сайты,</li>
        <li>в) когда третьи лица предоставляют ее нам.</li>
      </ol>
    </div>

    <div class="policy-title-second">Информация, которую мы собираем автоматически</div>
    <div class="policy-text">
      Мы автоматически собираем информацию, когда вы перемещаетесь по нашим Веб-сайтам или просматриваете нашу рекламу.
      Собранная информация включает в себя уникальный идентификатор устройства, IP адрес или MAC адрес, данные о вашем
      местоположении, трафике, действиях на Веб-сайтах и другую аналогичную информацию. Мы также используем файлы cookie
      и другие технологии отслеживания.
    </div>
    <div class="policy-title-second" >Условия пользовательского соглашения</div>
    <div class="policy-text">
      Вы настоящим подтверждаете, что прочитали, поняли и полностью согласны соблюдать настоящее Соглашение и Политику
      конфиденциальности АйтиШторм.
      <br>
      <br>
      Вы настоящим подтверждаете, что с момента регистрации на Сайте и в течение времени пользования Услугами АйтиШторм,
      а также персонализированными сервисами Сайта, Вы являетесь Пользователем АйтиШторм вплоть до Вашего личного
      обращения в Службу клиентской поддержки Айтишторм об отказе от любых взаимоотношений с АйтиШторм.
    </div>
    <div class="policy-title-second" id="condition">Согласие на обработку персональных данных</div>
    <div class="policy-text">
      Мы автоматически собираем информацию, когда вы перемещаетесь по нашим Веб-сайтам или просматриваете нашу рекламу.
      Собранная информация включает в себя уникальный идентификатор устройства, IP адрес или MAC адрес, данные о вашем
      местоположении, трафике, действиях на Веб-сайтах и другую аналогичную информацию. Мы также используем файлы cookie
      и другие технологии отслеживания.
    </div>
    <div class="policy-title-second">ЧАСТЬ I. О взаимоотношениях АйтиШторм с Пользователем</div>
    <div class="policy-text-items-title">
      Общие положения
    </div>
    <div class="policy-text-item" *ngFor="let item of policyTextItems">
      <div class="policy-text-item-text">{{ item.item }}</div>
    </div>
  </div>
</section>
