<div class="popup" [ngClass]="{success: isSuccess}">
  <div class="popup-close" (click)="close()">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.93562" y1="2.64999" x2="13.9564" y2="14.6708" stroke="#BEBEBE" stroke-linecap="round"/>
      <line x1="13.9236" y1="2.62978" x2="1.90277" y2="14.6506" stroke="#BEBEBE" stroke-linecap="round"/>
    </svg>
  </div>
  <div *ngIf="!isSuccess; else thankYouForOrder">
    <form [formGroup]="popupForm">

      <div class="popup-title">{{ title }}</div>

      <div class="popup-inputs">
        <div class="popup-input" *ngIf="popupType === 'order'">
          <select class="select" formControlName="service">
            <option *ngFor="let category of categories" value="{{category.name}}">
              {{ category.categoriesName }}
            </option>
          </select>
        </div>
        <div class="popup-input">
          <input class="input" type="text"
                 [ngStyle]="{'border-color': this.popupForm.get('name')?.invalid
      && (this.popupForm.get('name')?.dirty || this.popupForm.get('name')?.touched) ? 'red' : ''}"
                 placeholder="Ваше имя" formControlName="name">
          <div class="input-error" *ngIf="this.popupForm.get('name')?.hasError('required')
                && this.popupForm.get('name')?.touched">Введите ваше имя
          </div>
          <div class="input-error" *ngIf="this.popupForm.get('name')?.hasError('name')
                && this.popupForm.get('name')?.dirty">Имя должно быть корректным
          </div>
        </div>
        <div class="popup-input">
          <input class="input" type="text"
                 [ngStyle]="{'border-color': this.popupForm.get('phone')?.invalid
      && (this.popupForm.get('phone')?.dirty || this.popupForm.get('phone')?.touched) ? 'red' : ''}"
                 placeholder="Ваш номер телефона" formControlName="phone">
          <div class="input-error" *ngIf="this.popupForm.get('phone')?.hasError('required')
                && this.popupForm.get('phone')?.touched">Введите ваш номер телефона
          </div>
          <div class="input-error" *ngIf="this.popupForm.get('phone')?.hasError('phone')
                && this.popupForm.get('phone')?.dirty">Номер телефона должен быть корректным
          </div>
        </div>
      </div>
      <div class="popup-action">
        <button class="button" (click)="requestFormSubmit()" [disabled]="popupForm.invalid">{{ nameBtn }}</button>

        <div *ngIf="error">Произошла ошибка при отправке формы, попробуйте еще раз.</div>
      </div>
    </form>
  </div>
</div>

<ng-template #thankYouForOrder>
  <div class="popup-title">Спасибо за вашу заявку!</div>
  <div class="popup-description">Мы свяжемся с вами при первой же возможности.</div>
  <div class="popup-action">
    <button class="button okay" (click)="close()">Окей</button>
  </div>
</ng-template>
