@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.login{
  padding: 106px 0 92px 0;

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .auth-form{
    max-width: 429px;

    .auth-title{
      @include head-lora-38();
      font-size: 36px;
      margin-bottom: 40px;
    }

    .auth-inputs{
      margin-bottom: 40px;

      .auth-input{
        margin-bottom: 5px;
        position: relative;

        .toggle-password{
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          cursor: pointer;
        }

        input{
          width: 422px;
        }



        &:last-child{
          margin-bottom: 0;
          padding-top: 5px;
        }
      }

      .auth-checkbox{
        display: flex;
        align-items: baseline;

        input{
          margin-right: 10px;
        }
        label{
          font-size: 14px;
        }
      }


    }

    .auth-button{
      margin-bottom: 10px;

      button{
        width: 422px;
        padding: 15px;
        font-size: 16px;
      }
    }

    .auth-link{
      font-size: 14px;

      a{
        color: $blue-text-color;
      }
    }
  }

  .page-image{
    position: absolute;
    top: 0;
    right: 110px;
    width: 512px;
    height: 512px;
    z-index: -1;
  }
}

[disabled] {
  opacity: 0.4;
}

.input-error{
  font-size: 12px;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}


