@import "variables";

html,body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $darkblue-text-color;
  scroll-behavior: smooth;
}
.container{
  max-width: $container-width;
  margin: 0 auto;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  background: $blue-text-color;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  border: 0;
}

.owl-dots.ng-star-inserted{
  position: absolute;
  bottom: 10px;
  left: 48%;
}
.owl-theme .owl-dots .owl-dot {
  &.active span {
    background-color: white;
  }

  span {
    background-color: transparent;
    border: 1px solid white;

  }
}
.text-bold{
  font-weight: 500;
}
input{
  box-sizing: border-box;
  padding: 17px 20px;
  background: #FFFFFF;
  border: 2px solid #709FDC;
  border-radius: 3px;
  font-size: 14px;

  &::placeholder{
    color: #A8ABA7;
  }
}
